* {
	margin: 0;
	padding: 0;
}


.lform {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/images/mental.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}


.formb {
	width: 360px;
	height: 500px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 6px;
	overflow: hidden;
}

.buttonbox {
	width: 240px;
	margin: 37px auto;
	position: relative;
	box-shadow: 0 0 20px 10px #add8e6;
	border-radius: 0px;
}

.tbtn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: linear-gradient(to right, #add8e6,#0000FF );
	border-radius: 0px;
	transition: .5s;
}

.socialicons {
	margin-top: 6px auto:;
	text-align: center;
}

	.socialicons img {
		width: 30px;
		margin: 0 12px;
		box-shadow: 0 0 25px 0 #add8e6;
		cursor: pointer;
		border-radius: 50%;
	}

.inputgr {
	top: 200px;
	position: absolute;
	width: 300px;
	transition: .5s;
}

.inputfield {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submitbtn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #add8e6,#0000FF);
	border: 0;
	outline: none;
	border-radius: 0px;
}

.check-box {
	margin: 30px 10px 30px 0;
}

span {
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}

#login {
	left: 50px;
}

#register {
	left: 450px;
}
