* {
    padding:0;
    margin: 0;
}
.div1 {
  padding: 10px;
  text-align: center;
  background-color: #5ca59f;
  border: solid 1px #5f6965;
  margin: 20px;
  color: #fff;
}
.paragraph {
  padding: 50px;
  display: none;
}
.center {
    padding: 50px;
    margin-left: auto; 
    margin-right: auto;
    width: 500px;
    border-collapse: collapse; 
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.center a:link {
    color: rgb(134, 184, 18);
    background-color: transparent;
    text-decoration: none;
}
.center a:visited {
    color: rgb(141, 58, 72);
    background-color: transparent;
    text-decoration: none;
  }
  .center a:hover {
    color: rgb(10, 104, 141);
    background-color: transparent;
    text-decoration: underline;
  }
  .center a:active {
    color: rgb(195, 163, 216);
    background-color: transparent;
    text-decoration: underline;
  }
.center thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.center th,
.center td {
    padding: 12px 15px;
}
.center tbody tr {
    border-bottom: #dddddd;
}
.center tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.center tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.groove {
  position: relative;
  width: 1200px;
  height: 600px;
  padding: 30px;
  margin: 40px;
  display: flex;
  background: rgb(44, 139, 139);
}
.groove::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.groove::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.groove::before,
.groove::after {
  background: linear-gradient(235deg, #84a75d, #28376e, #10a1b4);
}
.groove .lista {
    padding-left: 50px;
}
.groove #depression {
    margin-left: 10px;
    padding: 10px;
}
.groove p {
    margin: 10px;
    line-height: -5px;
    padding: 10px;
}
.div2 {
  position: relative;
  width: 1200px;
  height: 300px;
  padding: 30px;
  margin: 40px;
  display: flex;
  background: rgb(44, 139, 139);
}
.div2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.div2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.div2::before,
.div2::after {
  background: linear-gradient(235deg, #84a75d, #28376e, #10a1b4);
}
.div2 #bipolar {
  margin-left: 10px;
  padding: 10px;
}
.div2 p {
  margin: 10px;
  line-height: -5px;
  padding: 10px;
}
.box {
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.div3 {
  position: relative;
  width: 1200px;
  height: 400px;
  padding: 30px;
  margin: 40px;
  display: flex;
  background: rgb(44, 139, 139);
}
.div3::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.div3::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.div3::before,
.div3::after {
  background: linear-gradient(235deg, #84a75d, #28376e, #10a1b4);
}
.div3 #schizophrenia {
    margin-left: 10px;
    padding: 10px;
}
.div3 p {
    margin: 10px;
    line-height: -5px;
    padding: 10px;
}
.div4 {
  position: relative;
  width: 1200px;
  height: 700px;
  padding: 30px;
  margin: 40px;
  display: flex;
  background:rgb(44, 139, 139);
}
.div4::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.div4::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.div4::before,
.div4::after {
  background: linear-gradient(235deg, #84a75d, #28376e, #10a1b4);
}
.div4 #anxienty {
    margin-left: 10px;
    padding: 10px;
}
.div4 p {
    margin: 10px;
    line-height: -5px;
    padding: 10px;
}
.div4 ul {
    padding-left: 70px;
}
.div4 h4 {
    margin-left: 10px;
    padding: 10px;
}
.div5 {
  position: relative;
  width: 1200px;
  height: 450px;
  padding: 30px;
  margin: 40px;
  display: flex;
  background: rgb(44, 139, 139);
}
.div5::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.div5::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.div5::before,
.div5::after {
  background: linear-gradient(235deg, #84a75d, #28376e, #10a1b4);
}
.div5 #substance {
    margin-left: 10px;
    padding: 10px;
}
.div5 p {
    margin: 10px;
    line-height: 28px;
    padding: 10px;
}
#more {
  display: none;
}
button {
  background-color: rgb(141, 77, 77);
  border: none;
  color: white;
  outline: none;
  font-size: 15px;
  padding: 5px;
}
.conta {
  width: 60%;
  overflow: auto;
  margin: 100px auto;

}
.photo img {
  width: 150px;
  height: 150px;
  padding: 10px;
  cursor: pointer;
}
.full-image {
  width: 580px;
  height: 580px;
  padding: 10px;
}
.col {
  float: left;
}
.full-image img {
  width: 580px;
  height: 580px;
  animation: ani .5s linear 1;
}
@keyframes ani {
  0%{opacity: .1;}
  100%{opacity: 1;}
}